.vscode/settings.json
__pycache__/graph.cpython-37.pyc
__pycache__/vertex.cpython-37.pyc
tasks.txt
__pycache__/vertex.cpython-38.pyc
__pycache__/graph.cpython-38.pyc
__pycache__/graph.cpython-38.pyc
__pycache__
.vscode/launch.json
